<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <section>
        <div class="icon"><img src="school.png" alt="">
            <div class="cont">
                <h5>STEP 1 OF 3</h5>
                <h1>LET'S GET STARTED</h1>
            </div>
        </div>
        <div class="form">

            <h4>Register As</h4>
            <div class="reg">
                <button>Student</button>
                <button>Alumini</button>
                <button class="none">Institution</button>
            </div>
            <button id="next">Next <i style="font-size: 22px;" class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>

    </section>

</body>
</html>